﻿@model List<Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<div class="container">
    <form method="post" id="CreateForm">
        <select class="form-control" name="CategoryID">
            <option active> -- Select Category -- </option>
            @foreach (var category in Model)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select><br />
        <div class="form-group">
            <lable for="Name">Product Name: </lable>
            <input class="form-control" name="Name" />
        </div>
        <div class="form-group">
            <lable for="Description">Description: </lable>
            <input class="form-control" name="Description" />
        </div>
        <div class="form-group">
            <lable for="Price">Price: </lable>
            <input class="form-control" name="Price" />
        </div>
        <button type="button" class="btn btn-success" id="savebtn">Save</button>
    </form>
</div>