﻿@model Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form method="post" id="EditForm">
    <input name="ID" type="hidden" value="@Model.ID"/>
    <lable>Product Name: </lable><br />
    <input name="Name" value="@Model.Name"/><br />

    <lable>Description: </lable><br />
    <input name="Description" value="@Model.Description"/><br />

    <lable>Price: </lable><br />
    <input name="Price" value="@Model.Price"/><br /><br />

    <button type="button" class="btn btn-success" id="updatebtn">Save</button>
</form>
