﻿
@{
    ViewBag.Title = "Index";
}

<div class="container p-5">
    <div id="maincontainer">
        @{
            Html.RenderAction("ProductTable");
            //Html.RenderAction("Create");
        }
    </div>
    <div id="actioncontainer">

    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(document).on("click", '#searchbtn', function () {
                search();
            });
            $(document).on("click", '#newbtn', function () {
                Action();
            });
            $(document).on("click", '#savebtn', function () {
                SaveData();
            });
            $(document).on("click", '.editbtn', function () {
                EditData(this);
            });
            $(document).on("click", '#updatebtn', function () {
                UpdateData();
            });
            $(document).on("click", '.deletebtn', function () {
                DeleteData(this);
            });
        });

        function search() {
            $Searchvalue = $('#SearchTxt').val();
            $.ajax({
                url: '/Product/ProductTable',
                data: {
                    search: $Searchvalue
                }
            })
                .done(function (response) {
                    $('#maincontainer').html(response);
                })
                .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        }
        function Action() {
            $.ajax({
                url: '/Product/Create',
            })
                .done(function (response) {
                    $('#response-table').html(' ');
                    $('#actioncontainer').html(response);
                })
                .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        }
        function SaveData() {
            $.ajax({
                type: 'POST',
                url: '/Product/Create',
                data: $('#CreateForm').serialize()
            })
                .done(function (response) {
                    $('#maincontainer').html(response);
                    $('#actioncontainer').html("");
                })
                .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        }
        function EditData(data) {
            $.ajax({
                url: '/Product/Edit',
                data:
                {
                    ID: $(data).attr('data-id')
                }
            })
                .done(function (response) {
                    $('#actioncontainer').html(response);
                })
                .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        }
        function UpdateData() {
            $.ajax({
                type: 'POST',
                url: '/Product/Edit',
                data: $('#EditForm').serialize()
            })
                .done(function (response) {
                    $('#maincontainer').html(response);
                    $('#actioncontainer').html("");
                })
                .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        }
        function DeleteData(fatchData) {
            var ConfirmDelete = confirm("Are you sure, You want to delete this product ?");
            if (ConfirmDelete == true) {
                $.ajax({
                    type: 'POST',
                    url: '/Product/Delete',
                    data:
                    {
                        ID: $(fatchData).attr('data-id')
                    }
                })
                    .done(function (response) {
                        $('#maincontainer').html(response);
                    })
                    .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                        alert("Fail");
                    })
            }
        }
    </script>
}