﻿@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}



<div class="container p-5">
    <form method="post">
        <div >
        <div class="input-group mb-3">
            <input class="form-control" name="Search" id="SearchTxt" placeholder="Search Products">
            <div class="input-group-append">
                <button type="button"  id="searchbtn">Search</button>
            </div>
        </div>

        </div>
        
    </form>
</div>
<table id="response-table" class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
            <th><button type="button" class="btn btn-danger" id="newbtn">Add New Product</button></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>
                    @if (product.Category != null)
                    {
                        <text>@product.Category.Name</text>
                    }
                    else
                    {
                        <text>-</text>
                    }
                </td>
                <td>@product.Price</td>
                <td>
                    <button class="btn btn-success editbtn" data-id="@product.ID">Edit</button>
                    <button class="btn btn-danger deletebtn" data-id="@product.ID">Delete</button>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

