﻿
@{
    ViewBag.Title = "Create";
}


<div class="container p-5">
    <h2>Create Category</h2>
    <form method="post">
        <lable>Name: </lable>
        <input class="form-control" name="Name" />
        <lable>Description: </lable>
        <input class="form-control" name="Description" />
        <lable>Image: </lable>
        <input class="form-control" id="ImageURL" name="ImageURL" type="hidden" />
        <input class="form-control" id="ImageUpload" name="Image" type="file" accept=".png, .jpg, .gif" />
        <lable>IsFeatured? :</lable><br />
        <input type="radio" name="IsFeatured" value="true" />True
        <input type="radio" name="IsFeatured" value="false" />False <br />
        <button type="submit">Save</button>
    </form>
</div>
<img id="CategoryImage" />
@section scripts
{
    <script>
        $('#ImageUpload').change(function () {
            var element = this;

            var formDate = new FormData();

            var totalFiles = element.files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formDate.append("Photo", file);
            }

            $.ajax({
                type: 'POST',
                url: '/Shared/UploadImage',
                dataType: 'json',
                data: formDate,
                contentType: false,
                processData: false
            })
                .done(function (response) {
                    console.log(response);
                    if (response.Success) {
                        $('#ImageURL').val(response.ImageURL);
                        $('#CategoryImage').attr("src", response.ImageURL);
                    }
                })
                .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        });
    </script>
}

