﻿@model ClothBazar.entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Edit Category</h2>
<h1>Are you sure you want to delete this category ?</h1>
<form method="post">
    <input type="hidden" value="@Model.ID" />
    <button type="submit">Yes</button>
</form>

