﻿@model ClothBazar.entities.Category
@{
    ViewBag.Title = "Edit";
    var url = Model.ImageURL;
    var FeaturedTrue = Model.isFeatured ? "checked" : string.Empty;
    var FeaturedFalse = !Model.isFeatured ? "checked" : string.Empty;

}

<div class="container p-5">
    <h2>Edit Category</h2>

    <form method="post">
        <input class="form-control" type="hidden" value="@Model.ID" />
        <lable>Name: </lable><br />
        <input class="form-control" name="Name" value="@Model.Name" /><br />
        <lable>Description: </lable><br />
        <input class="form-control" name="Description" value="@Model.Description" /><br />
        <lable>Image: </lable><br />
        <input class="form-control" id="ImageURL" name="ImageURL" type="hidden" />
        <input class="form-control" id="ImageUpload" name="Image" type="file" accept=".png, .jpg, .gif" /><br /><br />
        <lable>IsFeatured? :</lable><br />
        <input type="radio" name="IsFeatured" value="true" @FeaturedTrue />True <br />
        <input type="radio" name="IsFeatured" value="false" @FeaturedFalse />False <br />
        <button type="submit">Save</button><br /><br />
        <div style="display:flex;align-items:center;">
            <img src="@Model.ImageURL" alt="Alternate Text" style="width:200px; border:2px solid inherit;box-shadow:0 0 5px 2px black;" />
            <i class="fa fa-arrow-right fa-4x" style="padding:0 20px"></i>

            <img id="CategoryImage" />
        </div>
    </form>
</div>

@section scripts
{
    <script>
        $('#ImageUpload').change(function () {
            var element = this;

            var formDate = new FormData();

            var totalFiles = element.files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formDate.append("Photo", file);
            }

            $.ajax({
                type: 'POST',
                url: '/Shared/UploadImage',
                dataType: 'json',
                data: formDate,
                contentType: false,
                processData: false
            })
                .done(function (response) {
                    console.log(response);
                    if (response.Success) {
                        $('#ImageURL').val(response.ImageURL);   
                        $('#CategoryImage').attr("src", response.ImageURL).css("width", "200px").css("box-shadow", "0 0 5px 2px black");
                    }
                })
                .fail(function (XMLHTTPRequest, textStatus, errorThrown) {
                    alert("Fail");
                })
        });
    </script>
}

