﻿@model List<ClothBazar.entities.Category>
@{
    ViewBag.Title = "Index";
}
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th>Categories Name</th>
            <th>Description</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Categories in Model)
        {
            <tr>
                <td>@Categories.Name</td>
                <td>@Categories.Description</td>
                <td><img src="@Categories.ImageURL" alt="Avtar" style="width:50px;height:50px;" /></td>
                <td>
                    <button class="btn btn-success editbtn" data-id="@Categories.ID">Edit</button>
                    <button class="btn btn-danger deletebtn" data-id="@Categories.ID">Delete</button>
                </td>
            </tr>

        }
    </tbody>
</table>

@section scripts
{
      <script>
          $(document).on('click', '.editbtn', function () {
              $ID = $(this).attr('data-id');
              window.location = '/Category/Edit/' + $ID;
          });
          $(document).on('click', '.deletebtn', function () {
              $ID = $(this).attr('data-id');
              window.location = '/Category/Delete/' + $ID;
          });
      </script>
}
